<configuration scan="true" scanPeriod="10 seconds">

    <property scope="context" name="app-name"     value="example"   />
    <property scope="context" name="app-instance" value="example-1" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.payneteasy.strilog.encoder.json.JsonEncoder">
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.payneteasy" level="DEBUG"/>
    <logger name="com.googlecode" level="DEBUG"/>

    <logger name="org.eclipse.jetty" level="WARN"/>


</configuration>